<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") -%>
</head>

<body>
    <div id="mainBody">
        <% if (locals.alertMessage) {%>
            <div class="alertMessage" style="background-color: <%=alertColor%>;">
                <p> <%= alertMessage %></p>
                <ion-icon name="close-outline" class="close" id="close"></ion-icon>
            </div>
        <% } %>

        <h1 class="logo"> Book Tracker </h1>

        <div id="formContainer">
            <form action="/register" method="post">
                <h2> Register </h2>
                <input required name="username" type="text" placeholder="Username*">
                <input required name="pin" type="password" placeholder="Password*">
                <input class="submitButton" type="submit">
            </form>

            <div class="vl"></div>

            <form action="/sign-in" method="post">
                <h2> Sign-In </h2>
                <input required name="username" type="text" placeholder="Username*">
                <input required name="pin" type="password" placeholder="Password*">
                <input class="submitButton" type="submit">
            </form>
        </div>

        <%- include("partials/footer.ejs") -%>

    </div>

</body>



<!-- JS -->
<script>
    //Animate the load in of the main body
    $(document).ready(function()
    {
        $("#mainBody").animate({opacity:1}, function() {
            $(".logo").animate({opacity:1}, function() {
                $("#formContainer").animate({opacity:1});
            });
        });
    })


    //Add click event listener to the ion icon to close alert message when it pops up
    $("#close").click(function() {
        $(".alertMessage").css("display", "none");
    })

</script>

</html>