<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookTracker Application</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>

<body>
    <div id="mainBody">
        <h1> Book Tracker </h1>

        <div id="formContainer">
            <form>
                <h2> Register </h2>
                <input type="text">
                <input type="text">
            </form>

            <div class="vl"></div>

            <form>
                <h2> Sign-In </h2>
                <input type="text">
                <input type="text">
            </form>
        </div>

        <p> Please note, this website was made for educational purposes.
            The user accounts stored are not secure! </p>

    </div>


</body>

</html>